node_modules
config/dev.js
config/gcp_service.json
*.DS_Store
package-lock.json
dev.js
config/.env
config/gcp_service.json
*.idea

# enviroment
.env
deezgiz.json
.env.*
config/educado-*.json
config/keys.js
