node_modules
config/dev.js
config/gcp_service.json

*.DS_Store
dev.js
config/.env
config/gcp_service.json
*.idea

# enviroment
.env
deezgiz.json
.env.*
config/educado-*.json
config/keys.js
config/gcp_service.json
__tests__/setup/globalConfigMongo.json
